<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style type="text/css">
.container {
	margin-top: 50px;
}
.row {
	margin: 0px auto;
	width: 350px;
}
h3 {
	text-align: center;
}
</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<h3>삭제하기</h3>
			<form action="/board/delete_ok" method="post">
			<table class="table">
				<tr>
					<td class="text-center">
						비밀번호: <input type="password" name="pwd" size="15" class="input-sm" required>
						<input type="hidden" name=no th:value="${no}">
					</td>
				</tr>
				<tr>
					<td class="text-center">
						<button class="btn-sm btn-primary"
							type="submit"
						>삭제</button>
						
						<button class="btn-sm btn-primary"
							type="button"
							onclick="javascript:history.back()"
						>취소</button>
					</td>
				</tr>
			</table>
			</form>
		</div>
	</div>
</body>
</html>