<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.mapper.postgres.PostgresEduMapper">
  <!-- 
       parameterType : 생략이 가능
       = insert(),update(),delete()
       private int id,course_no,instructor_no;
       private String content,embedding;
   -->
  <insert id="saveCourseVector" parameterType="com.sist.web.vo.CourseVectorVO">
    INSERT INTO course_vector(
      course_no,
      title,
      content,
      instructor_no,
      chunk_no,
      embedding
    )
    VALUES
    (
       #{course_no},
       #{title},
       #{content},
       #{instructor_no},
       #{chunk_no},
       #{embedding}::vector
    )
    
  </insert>
  <!-- 
    question_no BIGINT NOT NULL,
    course_no BIGINT,
    title VARCHAR(4000) NOT NULL,
    description TEXT,
    theme INTEGER,
    type INTEGER,
    difficulty INTEGER NOT NULL,
    answer VARCHAR(2000) NOT NULL,
    option1 VARCHAR(2000),
    option2 VARCHAR(2000),
    option3 VARCHAR(2000),
    option4 VARCHAR(2000),
    content TEXT,
    embedding VECTOR(768)
   -->
   <insert id="saveQuestionVector"
    parameterType="com.sist.web.vo.QuestionVectorVO"
   >
     INSERT INTO question_vector
     (
        question_no,
	    title,
	    description,
	    theme,
	    type,
	    difficulty,
	    answer,
	    option1,
	    option2,
	    option3,
	    option4,
	    content,
	    embedding
     )
     VALUES
     (
        #{question_no},
	    #{title},
	    #{description},
	    #{theme},
	    #{type},
	    #{difficulty},
	    #{answer},
	    #{option1},
	    #{option2},
	    #{option3},
	    #{option4},
	    #{content},
	    #{embedding}::vector
     )
     
     ON CONFLICT(question_no)
     DO UPDATE SET
	    title=EXCLUDED.title,
	    description=EXCLUDED.description,
	    theme=EXCLUDED.theme,
	    type=EXCLUDED.type,
	    difficulty=EXCLUDED.difficulty,
	    answer=EXCLUDED.answer,
	    option1=EXCLUDED.option1,
	    option2=EXCLUDED.option2,
	    option3=EXCLUDED.option3,
	    option4=EXCLUDED.option4,
	    content=EXCLUDED.content,
	    embedding=EXCLUDED.embedding   
   </insert>
   <!-- 
      ON CONFLICT(question_no)
      DO UPDATE SET
      중복이 된 경우에 insert = update 
      중복 생성이 안되는 과정 
      
      insert into question_vector q
      using(
         select #{question_no} question_no,
         #{title} title
      ) s
      on(q.question=s.question.no)
      when MATCHED THEN
        UPDATE
      when NOT MATCHED THEN
        INSERT
      
    -->
</mapper>