<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style type="text/css">
.container {
	margin-top: 50px;
}
.row {
	margin: 0px auto;
	width: 600px;
}
h3 {
	text-align: center;
}
</style>
<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
<script type="text/javascript">
let stompClient=null
function connection() {
	const socket=new SockJS('/ws-chat')
	stompClient=Stomp.over(socket)
	
	stompClient.connect({}, function(msg){
		stompClient.subscribe('/topic/public', function(msg){
			const data=JSON.parse(msg.body)
			console.log(msg)
			console.log(msg.body)
			showMessage(data)
		})
		
	})
}
function sendMessage() {
	stompClient.send('/app/chat.send', {}, JSON.stringify({
		sender:$('#sender').val(),
		message:$('#message').val()
	}))
}
function showMessage(data) {
	// data => 서버에서 전송된 메세지
	$('#chat').append(
		'<li>['+data.sender+']'+data.message+'('+data.time+')'+'</li>'		
	)
}
connection()
</script>
</head>
<body>
	<!-- 
		HTTP => 확장
		 		 | 양방향 => 지속성
		 		 | 알림 / 실시간 채팅 
		 | 일회성 
		AI => 데이터를 받는 경우 => webSocket
			=> 파이썬 => LLM => 에이전트 => RAG / 임베디드
		---------------------------------------------
		1. stomp : websocket 기반의 메세지를 주고받기를 위한 메세지 프로토콜
					규칙을 만들어서 사용
					/topic/chat  /topic/ono
		2. websocket : 서버와 클라이언트 간 실시간 양방향 통신 기술
		3. sockjs : WebSocket이 안될 경우 HTTP기반의 방식으로 대체하는 라이브러리
		4. kafka : 서버와 서버 간 대규모 이벤트 메세지를 비동기적으로 분산 메세징 서비스
		5. redis : 데이터를 메모리에 빠르게 저장/조회 인메모리 데이터 저장 
					캐시/세션/실시간 데이터 사용시에 많이 사용	
			| => AI에서 사용이 많다 (대화내용 기억 => 인메모리 저장)
		kafka / redis
				| 데이터를 빠르게 활용
		 | 메세지를 보관 (크롤링에 이용) => 손실 방지
	 -->
	<div class="container">
		<div class="row">
			<h3>간단한 WebSocket 채팅</h3>
			<table class="table">
				<tbody>
					<tr>
						<th width="15%" class="text-center">이름</th>
						<td width="85%">
							<input type="text" id="sender" size="20" class="input-sm"> 
						</td>
					</tr>
					<tr>
						<th width="15%" class="text-center">메세지</th>
						<td width="85%">
							<input type="text" id="message" size="50" class="input-sm">
						</td>
					</tr>
					<tr>
						<td colspan="2" class="text-center">
							<button class="btn-sm btn-primary" onclick="sendMessage()">전송</button>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<ul id="chat">
								
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>